@model Recensione
@{
    ViewData["Title"] = $"Aggiungi Recensione per {ViewBag.LibroTitolo}";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="AddRecensione" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <input type="hidden" asp-for="LibroId" />

    <div class="form-group">
        <label asp-for="Voto" class="control-label"></label>
        <input asp-for="Voto" class="form-control" />
        <span asp-validation-for="Voto" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Aggiungi Recensione" class="btn btn-primary" />
    </div>
</form>